@font-face {
    font-family: helveticaNeuBold;
    src: url('../fonts/Helvetica\ Neu\ Bold.ttf');
}

@font-face {
    font-family: helveticaNeu;
    src: url('../fonts/HelveticaNeue.ttf');
}

@font-face {
    font-family: helveticaNeuMd;
    src: url('../fonts/HelveticaNeueMed.ttf');
}

@font-face {
    font-family: helveticaNeuLt;
    src: url('../fonts/HelveticaNeueLt.ttf');
}